/* Copyright © TUT 2015 */
@font-face {
	font-family: Quicksand;
	src: url(../fonts/Quicksand-Regular.otf);
}
@font-face {
	font-family: Quicksand-Bold;
	src: url(../fonts/Quicksand-Bold.otf);
}
* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body {
	background-color: #F7F7F7;
	padding-top: 104px;
}
.header {
	box-shadow: 0 3px 3px #000000;
	font-family: Quicksand-Bold;
	background-color: #FFFFFF;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
}
.logo-header {
	display: inline-block;
	vertical-align: middle;
}
.header-text {
	display: inline-block;
	vertical-align: middle;
}
.site-content {
	background-color: #FFFFFF;
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 10px;
	border-top: 1px solid #00667A;
	border-bottom: 1px solid #00667A;
}
.text {
	font-family: Quicksand;
}
.zoom-text {
	margin: 0 auto;
	margin-right: 15px;
}
.margin-bottom {
	margin-bottom: 15px;
}
.margin-left {
	margin-left: 15px;
}
.margin-right {
	margin-right: 5px;
}
.display-inline-block {
	display: inline-block;
}
.align-top {
	vertical-align: top;
}
.start-button {
	background-color: #00AED1;
	text-decoration: none;
	color: #FFFFFF;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 5px 0 #00667A;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	font-family: Quicksand;
}
.start-button:hover {
	padding-top: 5px;
	box-shadow: 0 3px 0 #00667A;
}
a {
	text-decoration: none;
	color: #00AED1;
	font-family: Quicksand;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
a:hover {
	color: #00667A;
}
.graph {
	width: 800px;
	height: 800px;
}
.neuron {
	stroke: #FFFFFF;
	stroke-width: 1.5px;
}
.link {
	stroke: #999999;
	stroke-opacity: .6;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.link:hover {
	stroke: #FF8000;
	stroke-opacity: none;
}
.footer {
	height: 50px;
	background-color: #FFFFFF;
	bottom: 0;
	width: 100%;
	position: fixed;
	text-align: center;
	border-top: 1px solid #00667A;
}
.footer-text {
	margin-top: 13px;
	font-size: 18px;
}
.ui-slider-horizontal {
	height: 8px;
	width: 200px;
}
.ui-slider .ui-slider-handle {
	height: 15px;
	width: 10px;
	padding-left: 10px;
}